@font-face{
    font-family: 'Genshin';
    src:url('Genshin\ Impact\ DRIP\ FONT.ttf') format('truetype');
}

.div_topo{
    background-color: #1C4C96;
    height: 100px;
}

.div_adicional{
    background-color: #1C4C96;
    height: 40px;
}

.container-flex {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: #1C4C96;
  }

form {
    border: 3px solid white;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Para centralizar o conteúdo interno do formulário */
    margin-right: 150px;
  }

.icone_pesquisa{
    background-color: white;
}

.button_pesquisa{
    background-color: white;
    cursor: pointer;
}

.categorias_topo{
    padding-left:600px;
}

.button_categoria{
    background-color: #1C4C96;
    border-style: none;
    border-color: white;
    cursor: pointer;
}

.button_separacao{
    background-color: #1C4C96;
    border-style: none;
    color: white;
}

.distancia_categoria{
    padding-left: 70px;
}

.div_destaques{
    margin-left: 120px;
    background-color: white;
}

.imagem{
    transition: 0.5s ease-in-out;
}

.imagem:hover{
    transition: 0.5s ease-in-out;
    scale: 1.1;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.busca{
    border: none;
    border-radius: none;
    outline:none;
}

.button_compra{
    background-color: #1C4C96;
    font-size: 36px;
}

.letra_destaque{
    font-size: 26px;
}

.compra_destaques{
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.compra_destaques:visited{
    color: black;
    text-decoration: none;
}

.compra_destaques:hover{
    color: #FFD738;
    text-decoration: none;
}

.link_topo{
    color: white;
    text-decoration: none;
}

.link_topo:visited{
    color: white;
}

.link_topo:hover{
    color: #FFD738;
}

.carrinho{
    font-size: 23px;
}

.fundo{
    background-image: url("../Imagens/genshin.png");
    background-repeat:round;
    background-attachment: fixed;
}

.produto{
    background-color: #F2F2F2;
    height: 500px;
    width: 300px;
    margin-left: 130px;
    border: 3px solid #003D66;
    border-radius: 7px;
}

.carrinho{
    padding: 10px;
    margin-left: 250px;
}

.distancia_carrinho{
    margin-left: 385px;
}

.produto_promocao{
    background-color: #F2F2F2;
    height: 550px;
    width: 300px;
    margin-left: 130px;
    border: 3px solid #003D66;
    border-radius: 7px;
}

.logo{
    height: 100px;
    width: 100px;
    margin-right: 50px;
}