@font-face {
    font-family: "Genshin";
    src: url("zh-cn.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.loginlabel
{
    font-family: "Genshin";
    /*color: #1c4c96;*/
    color: black;
    font-size: 20px;
    text-align: center;
    display: block; width: 100%;
    margin-bottom: 10px;
}

.inputbox
{
    font-family: "Genshin";
    border-radius: 15px;
    height: 30px;
    margin-bottom: 10px;
    box-shadow: #E8ECEF 0px 0px 5px;
    display: block; width: 100%;
    border: #E8ECEF solid 2px;
    margin-bottom: 50px;
    font-size: 20px;
}

.loginbox
{
    font-family: "Genshin";
    background: rgba(169, 180, 194, 0.8);
    border-radius: 10px;
    width: 350px;
    height: 500px;
    padding: 20px;
    box-shadow: #E1E2E6 0px 0px 10px;
    margin-left: 100px;
    border: solid 1px #E1E2E6;
}

.button
{
    font-family: "Genshin";
    background: white;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    box-shadow: black 0px 0px 5px;
    color: #1c4c96;
    border: solid 2px #E8ECEF;
    align: center;
    display: block; width: 100%;
    margin-top: 10px;
}

h2
{
    font-family: "Genshin";
    color: #FCEA9D;
    text-shadow: #FCEA9D 0px 0px 5px;
    text-align: center;
    font-size: 50px;    
}

body
{
    background-image: url("Sea of flowers.jpg");
    background-position: 100% 20%;
}